version: '3.8'
services:
  app:
    image: 'jc21/nginx-proxy-manager:latest'
    build:
      context: .
      dockerfile: Dockerfile
    restart: unless-stopped
    network_mode: "host"
    volumes:
      - ./data:/data
      - ./letsencrypt:/etc/letsencrypt